body {background-color:#FEFEFE; width:98%; margin:auto; font-family: helvetica, verdana, sans-serif; }
h1 {margin: 1px 1px 3px 1px; padding: 1px 1px 1px 20px; height: 20px; font-size: 1.2em; color: navy;
	background-image: url('./images/icon_square.gif'); background-repeat: no-repeat; background-position: left center; }
h2 {float: left; font-size:1em; background-color:#99FFFF; margin: 2px 1px 3px 2px; padding: 2px 1px 1px 4px; width: 33%; height: 100%; min-height: 100vh;
    display: flex;
    flex-direction: column;
}
pre {clear: right; width: 50%; text-align: center;}

li {padding-bottom: 0.3em;}
li li {padding-bottom: 0.2em;}

.highlight {color: navy; background-color: #FFFF99;}
.noSpaceBelow {margin-bottom:0px; padding-bottom:0px;}
.noSpaceAbove {margin-top:0px; padding-bottom:0px;}
.movingRight {position: relative; left: 2em;}

img.right {float: right; border-color: navy; border-style:solid; 
				border-width:1px; margin: 2px;}	
img.none {float: none; border-color: navy; border-style:solid; border-width:1px; vertical-align: top; width: 50%}
footer{color:black; background-color:rgb(218, 209, 97); position: absolute; left: 1%; top: 100%; width: 100%}
iframe{float: right;border-color: navy; border-style: solid; border-width: 1px; margin: 2px;}
@media print {
		a:after {content: " (" attr(href) ")";} 
		a {text-decoration: none;}
		}
